# Ignore compiled python files
*.pyc

# Ignore the settings.ini file (user settings)
/*.ini

# Ignore directories output by build operations
/[Bb]uild*/

# Ignore program temporary files
bin/tempFiles/
bin/Micro Melee.iso

# Visual Studio Code project folder
#.vscode

# Ignore I/O test files
/*.json

# https://github.com/github/gitignore/blob/e5323759e387ba347a9d50f8b0ddd16502eb71d4/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
